<div class="container" style="padding-right: 250px;padding-left: 250px;">
    <br/>
    <h1 style="text-align:center">{{pagesService.welcome}}
    </h1>
    <br/>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="saveTodo()">Görev Ekle</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Görev No</th>
                <th>Görev Adı</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>

        <tbody id="table">
            <tr *ngFor="let todo of todos; let i=index;">
                <th style="vertical-align: middle">
                    <div class="form-check">
                        <input (click)="done(i)" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div>
                </th>
                <th scope="row" style="vertical-align: middle">{{i+1}}</th>
                <td class="{{(!todo.isComplate)?'done' :' '}}" style="vertical-align: middle">{{todo.name}}</td>


                <td>
                    <button (click)="done(i)" type="button" id="add-button" class="button button2 "><i class="bi bi-pencil-square"></i></button>
                </td>
                <td>
                    <button (click)="remove(i)" type="button" id="add-button" class="button button1"><i class="bi bi-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

</div>